* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: #279989;
  color: white;
}
.second-box {
  background-color: #44a080;
  color: white;
}
.principal {
  background-color: #ffc845;
}
button {
  background-color: #279989;
  color: white;
}
